{% include 'RageTankUserBundle:Default:templates/head.html.twig' %}
    </div>
    <div class="content">
    {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
{% include 'RageTankUserBundle:Default:templates/foot.html.twig' %}