{% include 'RageTankUserBundle:Default:templates/head.html.twig' %}
</div>
		<div class="space"></div>
        <div class="contentTop"></div>
        <div class="content">
            <p>Username: {{ app.user }}</p>
        </div>
    </div>
{% include 'RageTankUserBundle:Default:templates/foot.html.twig' %}