 body, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input{margin:0; padding:0}
 body, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input{margin:0; padding:0}
 ul{list-style:none}
 fieldset{border:0}
 a img{border:0}
 .clearfix:before, .clearfix:after{ content:"\0020"; display:block; height:0; overflow:hidden }
 .clearfix:after{ clear:both }
 .clearfix{ zoom:1 }
 input[type="text"], input[type="password"], textarea{ border:0 none; background:#d3d3d3 !important; -moz-box-shadow: inset 0 3px 6px rgba(0,0,0,0.4); -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,0.4); box-shadow: inset 0 3px 6px rgba(0,0,0,0.4); -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; font:italic12px Georgia,serif; color:#727272; width:180px}
 input[type="text"], input[type="password"]{ height:30px; line-height:30px; padding:0 10px}
 input.wsite-form-input{ padding:0 5px !important}
 textarea.wsite-form-input{ padding:5px !important}
 input[type="submit"]{ border:0 none; background-color:#4f4f4f; color:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:0 10px; font:12px/28px Arial,sans-serif; text-transform:uppercase; height:30px}
 .ie7 input[type="submit"]{ padding-left:0; padding-right:0; height:auto}
 input[type="submit"]:hover{ background-color:#787878}
 .wsite-form-container{ margin-top:0 !important}
 textarea{overflow:auto}
 .product-block { -webkit-box-shadow: 0 8px 6px -6px black; -moz-box-shadow: 0 8px 6px -6px black; box-shadow: 0 8px 6px -6px black; }
 .product-small .product-image, .product-large .product-image, .product-long .product-image { -webkit-box-shadow: 0 8px 6px -6px black; -moz-box-shadow: 0 8px 6px -6px black; box-shadow: 0 8px 6px -6px black; border-top: 1px solid #CCC !important; border-left: 1px solid #CCC !important; border-right: 1px solid #CCC !important; padding: 7px !important; background-color: #ffffff; }
 .product-block .product-title { padding: 5px 0; }
 .product-block.product { background-color: #ffffff; }
 .product-small .product-description { margin-bottom: 10px; }
 .product-long { background-color: #EFEFEF !important; -moz-border-radius: 1em !important; border-radius: 1em !important; border: 1px solid white !important; }
 .product-long-detail { background: white !important; -moz-border-radius: 1em !important; border-radius: 1em !important; }
 .wslide-slide-inner2 { -webkit-box-shadow: 0 10px 8px -6px #1E1E1E; -moz-box-shadow: 0 10px 8px -6px #1E1E1E; box-shadow: 0 10px 8px -6px #1E1E1E; }
 .wslide-link-number { line-height: 2em; background: #535353 !important; width: 1em; -moz-border-radius: 1em !important; border-radius: 1em !important; }
 .wslide-link-thumbnail { background: white !important; padding: 6px; border: 1px solid #C1C1C1 !important; }
 .wslide-link-thumbnail .wslide-link-inner1 { height: 55px; }
 .imageGallery .galleryImageBorder, .imageGallery a.galleryImageBorder { -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5); -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5); box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5); }
 .blog-post { border: 1px solid #C1C1C1; padding: 15px; margin-bottom: 30px; -webkit-box-shadow: 0 8px 6px -6px black; -moz-box-shadow: 0 8px 6px -6px black; box-shadow: 0 10px 6px -6px rgba(0,0,0, 0.2); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #c8ced5; border-bottom-color: #bebfc0; background: #f6f6f6; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#f1f1f1)); background: -webkit-linear-gradient(top, #f6f6f6 0%, #f1f1f1 100%); background: -moz-linear-gradient(top, #f6f6f6 0%, #f1f1f1 100%); background: -o-linear-gradient(top, #f6f6f6 0%, #f1f1f1 100%); background: -ms-linear-gradient(top, #f6f6f6 0%, #f1f1f1 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f1f1f1',GradientType=0 ); background: linear-gradient(top, #f6f6f6 0%, #f1f1f1 100%); }
 .blog-body { width: 710px; }
 .wsite-button { color: #fff !important; height: 34px; font-size: 14px; border: none; font-weight: bold; text-decoration: none; text-transform: uppercase; padding: 0 10px 0 0; background: url('/bundles/ragetankauth/images/theme/button.png?923542') no-repeat 100% -105px; }
 .wsite-button:hover { background-position: 100% -140px; }
 .wsite-button:active { background-position: 100% -175px; }
 .wsite-button-inner { color: #8b8b8b !important; height: 34px; line-height: 34px; display: block; font-size: 14px; font-weight: bold; border: none; text-decoration: none; padding: 0 10px 0 20px; background: url('/bundles/ragetankauth/images/theme/button.png?923542') no-repeat 0 0; }
 .wsite-button:hover .wsite-button-inner { background-position: 0 -35px; }
 .wsite-button:active .wsite-button-inner { background-position: 0 -70px; }
 .wsite-button-large { height: 41px; background: url('/bundles/ragetankauth/images/theme/button_large_highlight.png?923542') no-repeat 100% -126px; padding: 0 10px 0 0; }
 .wsite-button-large:hover { background-position: 100% -168px; }
 .wsite-button-large:active { background-position: 100% -210px; }
 .wsite-button-large .wsite-button-inner { color: #fff !important; height: 41px; line-height: 41px; padding: 0 10px 0 20px; background: url('/bundles/ragetankauth/images/theme/button_large_highlight.png?923542') no-repeat 0 0; }
 .wsite-button-large:hover .wsite-button-inner { background-position: 0 -42px; }
 .wsite-button-large:active .wsite-button-inner { background-position: 0 -84px; }
 .wsite-button-large.wsite-button-highlight { background-image: url('/bundles/ragetankauth/images/theme/button_large.png?923542'); }
 .wsite-button-large.wsite-button-highlight .wsite-button-inner { color: #8b8b8b !important; background-image: url('/bundles/ragetankauth/images/theme/button_large.png?923542'); }
 .wsite-button-highlight { background-image: url('/bundles/ragetankauth/images/theme/button_highlight.png?923542'); }
 .wsite-button-highlight .wsite-button-inner { color: #fff !important; background-image: url('/bundles/ragetankauth/images/theme/button_highlight.png?923542'); }
 hr.styled-hr{ background-color: white; border-bottom: 1px solid #838383; color: #777; height: 2px; margin: 0 auto; text-align: center; border-top: none; border-right: none; border-left: none; }
 hr { clear: both; display: block; width: 100%; height: 1px; margin: 30px 0 30px 0; border: 0; background-color: #E6E6E6; }
 h1 { font-style: italic; color: #2b2b2b; }
 h2{ font:32px Georgia,'Times New Roman',serif; color:#242424; margin-bottom:12px; padding-bottom:5px; line-height: 140%; }
 div.paragraph{ font: 16px "Times New Roman", serif; color: #666767; line-height: 120%; margin-botton: 12px; padding-bottom: 5px; }
 p{ font: 16px "Times New Roman", serif; color: #666767; line-height: 120%; margin-botton: 12px; padding-bottom: 5px; }
 a, a:visited{ color:#00bba7; text-decoration:underline; }
 a:hover{ color:#ccc; text-decoration:none; }
 a:focus, a:active{ color:#000; text-decoration:underline; }
 html{ height:100%; }
 body{ height:100%; width: 100%; font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif; color: #676767; overflow-x: hidden; }
 #container{ height:auto; background: #f2f2f2; }
 .navContainer{ position:fixed; top:0px; left:0; width:100%; background:url('/bundles/ragetankauth/images/theme/header.png?923542')repeat-x; z-index:2; }
 #logo { max-height: 100px; padding-right: 15px; font-size:18px; max-width: 150px; float: left; }
 #logo, #logo a { color:#000; text-decoration: none;}
 .frame{ width: 980px; margin: 0 auto; position: relative; z-index:1; }
 #navigation{width: 740px; float:right; margin:-1px 0px 0 0; background:none; font-weight: normal;}
 #navigation a{display:inline-block; text-decoration:none; padding:0 23px; height:120px; line-height:91px; background:url('/bundles/ragetankauth/images/theme/mainNav.png?923542') no-repeat -9999px -9999px}
 #navigation a:hover, #active a{background-repeat:repeat-x; background-position:0 100%; }
 #navigation ul{margin:0px 0px 0px 200px; list-style:none; }
 #navigation li{float:left}
 #navigation ul li.weebly-nav-more{background:none}
 #wsite-menus .wsite-menu-wrap{z-index:5000; background:url('/bundles/ragetankauth/images/theme/wsite-menu.png?923542'); margin-top:0px; position:absolute; top:65px; left:70%; margin: -14px 0px; background-color: #0d0d0d;}
 #wsite-menus span.wsite-menu-more{line-height:30px; height:30px}
 #wsite-menus .wsite-menu{padding:0; margin:0; list-style:none; border-top:1px dotted #5f5f5f}
 #wsite-menus .wsite-menu li{float:left; clear:left; width:180px; text-align:left; border-bottom:1px dotted #5f5f5f}
 #wsite-menus span.wsite-menu-title{display:inline; padding:0}
 #wsite-menus .wsite-menu li a{font:12px Arial,sans-serif; width:162px; color:#fff; text-decoration:none; border:0 none; display:block; font-weight:normal; line-height:1; padding:10px 6px 12px 12px;}
 .contentTop{ height:14px; overflow:hidden; background:url('/bundles/ragetankauth/images/theme/contentTop.png?923542') repeat-x; margin-top:-6px; }
 .space{ height: 95px; }
 .content{ background:url('/bundles/ragetankauth/images/theme/bodybg.jpg?923542'); min-height:400px; padding-top:25px; padding-bottom:30px; }
 #footer{ position:relative; background: url('/bundles/ragetankauth/images/theme/footerbg.jpg?923542'); padding:15px 0; border-top:1px solid #ababab; }
 #footer-content{ min-height:300px; position:relative; padding:15px 0; width: 100%; }
 .fleft{float:left; width:50%;}
 .fright{float:right; width:50%;}
 .footerlogo{ float:left; border-right:1px solid #ababab; margin-right: 15px; }
 .weebly-footer{ font:11px Arial,sans-serif; color:#979797; display: none; }
 #footer .copyright{ font:11px Arial,sans-serif; color:#979797; padding-left: 15px; }
 #footer .follow{ font:16px Arial,sans-serif; color:#979797; margin-right:10px; float: right; }
 .design{ font:11px Arial,sans-serif; color:#979797; text-align: center; padding: 0; text-indent: -2400px; position: absolute; }
 #social{background:transparent; margin:0; padding:0; width:100%}
 #social li{float:left; list-style-type:none;}
 #social li a{display:block; margin:0 3px; padding:0; height:30px; width:30px; text-indent:-9999px}
 #social li a#rssf{background:url('/bundles/ragetankauth/images/theme/rss.png?923542') no-repeat top left}
 #social li a#rssf:hover{background-position:bottom left}
 #social li a#fb{background:url('/bundles/ragetankauth/images/theme/facebook.png?923542') no-repeat top left}
 #social li a#fb:hover{background-position:bottom left}
 #social li a#mail{background:url('/bundles/ragetankauth/images/theme/mail.png?923542') no-repeat top left}
 #social li a#mail:hover{background-position:bottom left}
 #social li a#twitter{background:url('/bundles/ragetankauth/images/theme/twitter.png?923542') no-repeat top left}
 #social li a#twitter:hover{background-position:bottom left}
 #social li a#google{background:url('/bundles/ragetankauth/images/theme/google.png?923542') no-repeat top left}
 #social li a#google:hover{background-position:bottom left}
 #social li a#flickr{background:url('/bundles/ragetankauth/images/theme/flickr.png?923542') no-repeat top left}
 #social li a#flickr:hover{background-position:bottom left}
 #social li a#linkedin{background:url('/bundles/ragetankauth/images/theme/linkedin.png?923542') no-repeat top left}
 #social li a#linkedin:hover{background-position:bottom left}
 #social li a#youtube{background:url('/bundles/ragetankauth/images/theme/youtube.png?923542') no-repeat top left}
 #social li a#youtube:hover{background-position:bottom left}
 #social li a#pinterest{background:url('/bundles/ragetankauth/images/theme/pinterest.png?923542') no-repeat top left}
 #social li a#pinterest:hover{background-position:bottom left}
 .social-frame{float:right; height:30px;}
 .sliderContainer{padding-top:105px; width:auto; min-width: 980px; min-height:250px; max-height:700px; overflow:hidden; background:none}
 .plugin-sliderContainer{padding-top:105px; width:auto; min-width: 980px; min-height:250px; max-height:700px; overflow:hidden; background:none}
 .wsite-header{ width: 100%; margin:0 auto; background:url('/bundles/ragetankauth/images/theme/default_header.jpg?923542') no-repeat; background-position: 50% 0 !important; }
 #landing-text{ width: 390px; float: right; margin-top: 200px; margin-right: 30px; background-color: rgba(0,0,0, 0.8); padding: 15px; }
 #landing-text div.paragraph, #landing-text h2, #video-text div.paragraph, #video-text h2{ color: #ffffff; }
 #landing-text p, #landing-text h2, #video-text p, #video-text h2{ color: #ffffff; }
 #video-text { width: 390px; float: left; margin-top: 50px; background-color: rgba(0,0,0, 0.8); padding: 15px; }
 #video{ padding-left: 480px; text-align: right; max-height:300px; width: 498px; background: url('/bundles/ragetankauth/images/theme/video_bg.png?923542') no-repeat 92% 100%; padding-bottom: 25px; float: none; padding-top: 50px; }
 #slider-video{}
 .video .wsite-header{ min-width: 100%; height: 400px; background:transparent url('/bundles/ragetankauth/images/theme/video-header.jpg?923542') no-repeat; background-position: 50% 0 !important; background-size: 100% auto; }
 #slider-landing{}
 .landing-page .wsite-header{ min-width: 100%; height: 500px; background:transparent url('/bundles/ragetankauth/images/theme/landing-page.jpg?923542') no-repeat; background-position: 50% 0 !important; background-size: 100% auto; }
 #slider-tall{}
 .tall-header .wsite-header{ width: 100%; height: 400px; background:transparent url('/bundles/ragetankauth/images/theme/tall-header.jpg?923542') no-repeat; background-position: 50% 0 !important; background-size: 100% auto; }
 #slider-short{}
 .short-header .wsite-header{ width:100%; height:250px; background:transparent url('/bundles/ragetankauth/images/theme/short-header.jpg?923542') no-repeat; background-position: 50% 0 !important; background-size: 100% auto; }
 #footer div.paragraph{ }
 #footer p{ }
 #footer h2{ }
 #footer a{ }
 #footer a:hover{ }
 #footer a:visited{ }
 #navigation a{ color:#7e7e7e; }
 #navigation a:hover, #active a {color: #fff}
 #wsite-menus .wsite-menu li a:hover {background-color:#7e7e7e; color:#ffffff;}
 #navigation{ font-size:18px; font-family: Arial,sans-serif;}
 #slider-index{ width: 100%; height: 400px; margin:0 auto; background:transparent url('/bundles/ragetankauth/images/theme/plugin_header.jpg?923542') 50% 0; }

div.paragraph ul, div.paragraph ol { padding-left: 25px !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
