{% include 'RageTankAuthBundle:Default:templates/head.html.twig' %}
       <div class="sliderContainer">           
			<div id="slider-tall" class="wsite-header"></div>
       </div>
    </div>
        <div class="contentTop"></div>
        <div class="content">
            <div class="frame clearfix"><div id="wsite-content" class="wsite-not-footer">
<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px">
<table class="wsite-multicol-table">
<tbody class="wsite-multicol-tbody">
<tr class="wsite-multicol-tr">
<td class="wsite-multicol-col" style="width:32.638888888889%;padding:0 15px">
<div><div class="wsite-image wsite-image-border-none " style="padding-top:0;padding-bottom:0;margin-left:0;margin-right:0;text-align:left">
<a href="http://www.ragetank.com/sign-up.html">
<img src="{{ asset('/bundles/ragetankauth/images/4951453_orig.png') }}" alt="Rage Tank Mobile App Feature " style="width:100%;max-width:347px">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

</td>
<td class="wsite-multicol-col" style="width:67.361111111111%;padding:0 15px">

<h2 style="text-align:left;">Log your stats—and improve them with predictive timing technology.</h2>
<div class="paragraph" style="text-align:left;display:block;"><ul><li>Keep
 track of and analyze your times and lines so you can watch yourself 
improve. Since data is collected in airplane mode, you can log your 
stats even in remote locations.</li><li>High sample rates mean your 
times are accurate to within ~0.01 seconds, comparable to the expensive 
systems used by the pros. Plus, the app’s GPS data correction lets you 
see your path around the track to within 1m accuracy—a feature that is 
unique to RageTank and allows you to overlay and compare driver lines.</li><li>In-car
 visualization tools include a lap counter, current lap time, previous 
lap time, time difference from previous lap and speed. The app also 
predicts your next lap time based on your current speed; if you speed 
up, your predicted lap time decreases. RageTank is the first mobile app 
to offer this feature.</li></ul></div>

</td>
</tr>
</tbody>
</table>
</div></div></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;">
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<h2 style="text-align:center;">Find the line with RageTank’s exhaustive race track database.<br></h2>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -5px">
<table class="wsite-multicol-table">
<tbody class="wsite-multicol-tbody">
<tr class="wsite-multicol-tr">
<td class="wsite-multicol-col" style="width:5.0526998738979%;padding:0 5px"></td>
<td class="wsite-multicol-col" style="width:44.261650895346%;padding:0 5px">

<div class="paragraph" style="text-align:left;"><ul><li>Locate all paved tracks in the US and Canada by searching by type or location.</li><li>Access highly accurate maps of all configurations, including information on each track’s turns and sectors.</li><li>RageTank provides all track data (not users), so you’re guaranteed accuracy.</li></ul></div>

</td>
<td class="wsite-multicol-col" style="width:45.526032243194%;padding:0 5px">

<div><div class="wsite-image wsite-image-border-none " style="padding-top:0;padding-bottom:0;margin-left:0;margin-right:0;text-align:left">
<a href="http://www.ragetank.com/sign-up.html">
<img src="{{ asset('/bundles/ragetankauth/images/2251741_orig.png') }}" alt="Rage Tank Mobile App Feature " style="width:100%;max-width:481px">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

</td>
<td class="wsite-multicol-col" style="width:5.159616987562%;padding:0 5px"></td>
</tr>
</tbody>
</table>
</div></div></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;">
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px">
<table class="wsite-multicol-table">
<tbody class="wsite-multicol-tbody">
<tr class="wsite-multicol-tr">
<td class="wsite-multicol-col" style="width:43.75%;padding:0 15px">

<div><div class="wsite-image wsite-image-border-none " style="padding-top:0;padding-bottom:0;margin-left:0;margin-right:10px;text-align:right">
<a href="http://www.ragetank.com/sign-up.html">
<img src="{{ asset('/bundles/ragetankauth/images/8280175_orig.png') }}" alt="Rage Tank Mobile App Feature " style="width:100%;max-width:243px">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

</td>
<td class="wsite-multicol-col" style="width:56.25%;padding:0 15px">

<h2 style="text-align:left;"><br><span></span>Stay informed and connect<br><span></span>with race tracks.</h2>
<div class="paragraph" style="text-align:left;display:block;"><ul><li>Receive information on upcoming track days so you’ll never miss an event.</li><li>Communicate with race track event organizers and<br>other users.</li><li>Local announcements are broadcast to users at a designated physical location, streamlining communication during track events.</li></ul></div>

</td>
</tr>
</tbody>
</table>
</div></div></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;">
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -5px">
<table class="wsite-multicol-table">
<tbody class="wsite-multicol-tbody">
<tr class="wsite-multicol-tr">
<td class="wsite-multicol-col" style="width:14.903710845205%;padding:0 5px"></td>
<td class="wsite-multicol-col" style="width:51.14666868947%;padding:0 5px">

<h2 style="text-align:right;"><br><span></span>How fast can you go? Prove it.<br><span></span>(And tell all your friends about it.)</h2>
<div class="paragraph" style="text-align:left;display:block;"><ul><li>Post
 auto-generated messages broadcasting your lap times and top speeds to 
the RageTank leaderboard, Facebook, Twitter and Google+.</li><li>These messages can’t be edited, so your friends know you’re not exaggerating—you’re just that good.</li></ul></div>

</td>
<td class="wsite-multicol-col" style="width:24.135476188806%;padding:0 5px">

<div><div class="wsite-image wsite-image-border-none " style="padding-top:0;padding-bottom:0;margin-left:0;margin-right:0;text-align:left">
<a href="http://www.ragetank.com/sign-up.html">
<img src="{{ asset('/bundles/ragetankauth/images/5113700.png') }}" alt="Rage Tank Mobile App Feature " style="width:100%;max-width:217px">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

</td>
<td class="wsite-multicol-col" style="width:9.8141442765183%;padding:0 5px"></td>
</tr>
</tbody>
</table>
</div></div></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;">
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<h2 style="text-align:center;">Sign up... it's free.<br></h2>
<div class="paragraph" style="text-align:center;display:block;">A beta version of the RageTank mobile app will be released for Android in mid-September;<br><span></span>the iOS version is currently in development.<br><span></span><a title="" href="http://www.ragetank.com/sign-up.html">Sign up now</a> to be notified as soon as the app is available.</div></div>
</div>
</div>
</div>
{% include 'RageTankAuthBundle:Default:templates/foot.html.twig' %}